<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option.key }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<div class="wrapper">
    I have a tooltip.
    <div class="tooltip"><a href="/">am a tooltip!</a> </div>
</div>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        This is the expansion title
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
  
    <p>This is the primary content of the panel.</p>
  
  </mat-expansion-panel>
  